.entry-motto {
    color: #fefefe;
}
#entry-form input {
    padding: 30px;
    width: 600px;
}

#entry-form button {
    padding: 20px;
    width: 300px;
}

.bgvideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -9999;
}

#profile-container {
    position: absolute;
    left: 0;
    height: 500px;
}

#profile-container .card-body {
    min-height: 500px;
}
