<div  class="container content center d-md-flex align-items-md-start">
<video autoplay loop muted class="bgvideo" id="bgvideo">
   <source src="/media/bg.mp4" type="video/mp4" />
</video>
<div class="row m-5">
    <div class="col-sm-9 col-md-9 col-xl-9">
        <h1 class="display-3 entry-motto">YASNA. Анализ информации в социальных сетях</h1>
    </div>
    <div class="col-sm-12 col-md-12 col-xl-12">
        <form id="entry-form" class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2 input-lg " type="search" placeholder="Укажите ссылку на профиль" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" id="entry-form-submit" type="submit">Анализ</button>
        </form>
    </div>
</div>

<div class="row">
    <div class="col-md-12" id="profile-container"></div>
</div>

</div>