
<div class="row m-5">
    <div class="col-sm-9 col-md-9 col-xl-9">
        <h1 class="display-3">YASNA. Анализ информации в социальных сетях</h1>
    </div>
    <div class="col-sm-12 col-md-12 col-xl-12">
        <form id="entry-form" class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2 input-lg " type="search" placeholder="Укажите ссылку на профиль" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Анализ</button>
        </form>
    </div>
</div>
