
<div class="row">
{#    <div class="col-sm-12 col-md-12 col-xl-12">#}
{#        <ul class="list-group">#}
{#          <li class="list-group-item">Возраст: 93 <span class="badge badge-danger">Преполагаемый: 20</span></li>#}
{#          <li class="list-group-item">Город: Москва <span class="badge badge-danger">Преполагаемый: Урюпинск</span></li>#}
{#          <li class="list-group-item">Morbi leo risus</li>#}
{#          <li class="list-group-item">Porta ac consectetur ac</li>#}
{#          <li class="list-group-item">Vestibulum at eros</li>#}
{#        </ul>#}
{#    </div>#}
    <div class="col-sm-12 col-md-9 col-xl-9">
        <h1 class="display-3">YASNA. Анализ информации в социальных сетях</h1>
        <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Укажите ссылку на профиль" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Анализ</button>
        </form>
    </div>
</div>
