<div id="page" class="content center d-md-flex align-items-md-start">
    <div class="card w-100 m-2 p-0">
        <div class="card-header header-elements-inline">
            <h5 class="card-title">
                <span class="page-title">
                    YASNA - Yet Another Social Network Analyzer
                </span>
                <i class="icon-spinner2 spinner hide"></i>
            </h5>
        </div>
        <div class="content p-0"></div>
    </div>
</div>
