<div class="row">
    <div class="col-md-6">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Details.</p>
          </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="card" style="width: 18rem;">
          <img class="card-img-top" src="..." alt="Card image cap">
          <div class="card-body">
            <p class="card-text">Some chars here.</p>
          </div>
        </div>
    </div>
</div>